#mp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#editor {
  position: sticky;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#previewer, textarea {
  height: 500px;
  width: 500px;
}

#previewer {
  margin-left: 50px;
}

textarea {
  overflow: auto;
  resize: none;
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.25);
}